<!--------------gallery section------->
<section class="gallery_section">
  <div class="container">
    <div class="galley_imges">
      <div class="gallery_img">
        <div class="team_img">
          <div class="main_img">
            <img src="assets/Rectangle(1).png" alt="" />
          </div>
          <div class="text_section">
            <h3>Terms and Conditions</h3>
            <span
              ><svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.5 7.37553H19.5M19.5 7.37553L11.992 0.830078M19.5 7.37553L11.992 13.921"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="gallery_img">
        <div class="team_img">
          <div class="main_img">
            <img src="assets/Rectangle (2).png" alt="" />
          </div>
          <div class="text_section">
            <h3>Privacy Policy</h3>
            <span
              ><svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.5 7.37553H19.5M19.5 7.37553L11.992 0.830078M19.5 7.37553L11.992 13.921"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="gallery_img">
        <div class="team_img">
          <div class="main_img">
            <img src="assets/Rectangle (3).png" alt="" />
          </div>
          <div class="text_section">
            <h3>General Data Protection</h3>
            <span
              ><svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.5 7.37553H19.5M19.5 7.37553L11.992 0.830078M19.5 7.37553L11.992 13.921"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
      <div class="gallery_img">
        <div class="team_img">
          <div class="main_img">
            <img src="assets/Rectangle (4).png" alt="" />
          </div>
          <div class="text_section">
            <h3>Customer Charter</h3>
            <span
              ><svg
                width="21"
                height="15"
                viewBox="0 0 21 15"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M1.5 7.37553H19.5M19.5 7.37553L11.992 0.830078M19.5 7.37553L11.992 13.921"
                  stroke="white"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"
                />
              </svg>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
