<!---------header Top---------->
<div class="top-header">
  <div class="container">
    <div class="top_header_heading">
      <p>Service built around yourneeds</p>
    </div>
  </div>
</div>
<!----------header with Menu--------------->
<header>
  <div class="container">
    <div class="header_flex">
      <div class="header_logo">
        <a href="#"><img src="assets/logo.png" alt="logo" /></a>
      </div>
      <div class="header_menu">
        <nav id="navMenu">
          <ul>
            <li>
              <a href="#">Quote</a>
            </li>
            <li>
              <a href="#">Track </a>
            </li>
            <li>
              <a href="#">Tools</a>
            </li>
            <li>
              <a href="#">Information</a>
            </li>
            <li>
              <a href="#">Help</a>
            </li>
            <li>
              <a href="#"> My YOCOSO</a>
            </li>
          </ul>
        </nav>
        <button id="toggleButton"><img src="assets/togle.png" alt="" /></button>
      </div>
    </div>
  </div>
</header>
