<!----------------Why----------->
<section class="why">
  <div class="container">
    <h2>Why YOCOSO</h2>
    <div class="why_flex">
      <div class="why_left">
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>
      <div class="why_center">
        <a href="#"><img src="assets/logo.png" alt="" /></a>
      </div>
      <div class="why_right">
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
        <div class="why_content">
          <h4>Top Premium Quality</h4>
          <p>
            Lorem Ipsum is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum has been the industry's standard dummy text
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
