<!-----------banner------------>
<section class="banner">
  <div class="container">
    <div class="banner_flex">
      <div class="banner_left">
        <h1>Welcome to YOCOSO</h1>
        <h4>Built around your needs</h4>
        <div class="check_green_flex">
          <div class="check_green_image">
            <img src="assets/check_green.png" alt="" />
          </div>
          <div class="check_green_text">
            <p>Personalised Service</p>
          </div>
        </div>
        <div class="check_green_flex">
          <div class="check_green_image">
            <img src="assets/check_green.png" alt="" />
          </div>
          <div class="check_green_text">
            <p>Fairly priced</p>
          </div>
        </div>
        <div class="check_green_flex">
          <div class="check_green_image">
            <img src="assets/check_green.png" alt="" />
          </div>
          <div class="check_green_text">
            <p>Efficient delivery</p>
          </div>
        </div>
        <div class="starting_price">
          <h3>Starting as low as <span>AU$ 2.99</span></h3>
        </div>
      </div>
      <div class="banner_right">
        <div class="banner_form">
          <div class="tab">
            <button class="tablinks active" (click)="openTab($event, 'Tab1')">
              Quote
            </button>
            <button class="tablinks" (click)="openTab($event, 'Tab2')">
              Track
            </button>
            <button class="tablinks" (click)="openTab($event, 'Tab3')">
              Book
            </button>
          </div>

          <div id="Tab1" class="tabcontent">
            <div class="tab_form">
              <label for="Postcode">Collection Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Delivery Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Type of consignmen</label><br />
              <select>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
                <option value="Option 4">Option 4</option>
              </select>
              <div class="submit_button">
                <button type="submit">SUBMIT</button>
              </div>
            </div>
          </div>

          <div id="Tab2" class="tabcontent">
            <div class="tab_form">
              <label for="Postcode">Collection Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Delivery Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Type of consignmen</label><br />
              <select>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
                <option value="Option 4">Option 4</option>
              </select>
            </div>
          </div>

          <div id="Tab3" class="tabcontent">
            <div class="tab_form">
              <label for="Postcode">Collection Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Delivery Postcode</label><br />
              <input type="text" /><br />
              <label for="Postcode">Type of consignmen</label><br />
              <select>
                <option value="Option 1">Option 1</option>
                <option value="Option 2">Option 2</option>
                <option value="Option 3">Option 3</option>
                <option value="Option 4">Option 4</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="banner_icons">
        <div class="banner_mail">
          <a href="#"><img src="assets/messages.png" alt="" /></a>
        </div>
        <div class="banner_phone">
          <a href="#"><img src="assets/phone.png" alt="" /></a>
        </div>
        <div class="banner_mail">
          <a href="#"><img src="assets/whatsapp (2).png" alt="" /></a>
        </div>
      </div>
    </div>
  </div>
</section>
