.banner {
  background-image: url(../../../assets/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.banner #Tab2,
.banner #Tab3 {
  display: none;
}
.banner_flex {
  display: flex;
  width: 100%;
}
.banner_left {
  width: 45%;
  background: url(../../../assets/banner_circle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left center;
  padding-top: 80px;
  padding-bottom: 60px;
  padding-left: 30px;
}
.banner_right {
  width: 50%;
  display: flex;
  justify-content: right;
  padding-top: 35px;
  padding-bottom: 40px;
}
.banner_form {
  width: 400px;
  background: rgba(255, 255, 255, 0.86);
  box-shadow: 0px 4px 17px 20px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  padding: 25px 15px;
}
.banner .tab {
  display: flex;
  width: 100%;
  padding-bottom: 20px;
}
.tablinks {
  color: #3d3d3d;
  width: 33.33% !important;
  font-weight: 600;
  font-size: 18px;
  background: transparent;
  border: 1px solid #cacaca;
  height: 40px;
}
.tablinks.active {
  background: #0dd501;
  color: #fff;
  border: none !important;
}
.tab_form label {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 30px;
  color: #3d3d3d;
}
.tab_form input {
  width: 100% !important;
  height: 40px;
  border: none;
  background: #fff;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 15px;
}
.banner .tab_form select {
  width: 100%;
  height: 40px;
  padding: 0 12px !important;
  background: #fff !important;
  border: none;
  border-radius: 4px;
}
.banner_flex .banner_left h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 43px;
  line-height: 52px;
  color: #3d3d3d;
  padding-bottom: 10px;
}
.banner_flex .banner_left h4 {
  font-weight: 500;
  font-size: 29px;
  line-height: 54px;
  color: #0dd501;
}
.check_green_flex {
  display: flex;
  padding-bottom: 11px;
  align-items: center;
}
.check_green_flex .check_green_text p {
  font-weight: 500;
  font-size: 20px;
  line-height: 54px;
  color: #3d3d3d;
  padding-left: 10px;
}
.starting_price h3 {
  font-weight: 600;
  font-size: 28px;
  line-height: 54px;
  color: #3d3d3d;
}
.starting_price h3 span {
  color: #0dd501;
}
.submit_button {
  width: 100%;
  padding-top: 20px;
}
.submit_button button {
  background: #003cb8;
  border-radius: 4px;
  height: 40px;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
  border: none;
}
.banner_icons {
  position: absolute;
  right: -30px;
  transform: translate(-50%, -50%);
  top: 50%;
}

@media only screen and (max-width: 1199px) {
  .banner_flex .banner_left h1 {
    font-size: 30px;
  }
  .banner_flex .banner_left h4 {
    font-size: 20px;
    line-height: 30px;
  }
  .check_green_flex .check_green_text p {
    font-size: 15px;
  }
  .check_green_image img {
    max-width: 30px;
  }
  .check_green_flex {
    padding-bottom: 0px;
  }
  .starting_price h3 {
    font-size: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  
  .banner_flex {
    flex-wrap: wrap;
  }
  .banner_right {
    width: 100%;
    justify-content: center;
  }
  .banner_left {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .banner_flex {
    flex-wrap: wrap;
  }
  .banner_left {
    width: 100%;
    margin: 10px 0;
    background: #fff;
    padding: 20px 15px;
  }
  .banner_flex .banner_left h1 {
    font-size: 26px;
    line-height: 30px;
  }
  .banner_flex .banner_left h4 {
    font-size: 20px;
  }
  .check_green_flex {
    padding-bottom: 0;
  }
  .banner_icons img {
    max-width: 45px;
  }
  .banner_icons {
    right: -22px;
  }
  .banner_right {
    width: 100%;
  }

  .banner_right {
    justify-content: center;
  }
}
